.App {
  text-align: center;
}

.marginbtn {
  margin: 2%
}

.inpt {
  margin-bottom: 2%;
  margin-top: 2%;
}

.card {
  margin-top: 6%
}

.card-text {
  margin-bottom: 0;
}

.card-body {
  padding: 10px 20px 10px 20px;
}

.card-text-value {
  margin-bottom: 10px;
}